svg.brand(x='525' y='365' width='250' height='290' viewbox='0 0 302 350')
  circle.group(cx='150' cy='152' r='148')
  image(xlink:href='https://www.groupehpb.com/organigramme/img/hpb.svg' x='70' y='70' width='160' height='160')
  +bossCard(-330, 300, 330, -10, 'hpb1.png', 'Wilhelm Hubner', 'Directeur', 'wilhelm-hubner')
  +bossCard(330, -30, 0, 287, 'hpb2.png', 'Samuel Alimi', 'Directeur', 'samuel-alimi')