
+brand(120, 600, "lgr.svg", "lgr-photo.png", 'Jean-Michel Grunberg', 'Directeur', 'jean-michel-grunberg')
+brand(320, 100, "camaieu.svg", "camaieu-photo.png", 'Sandrine LILIENFELD', 'Directeur', 'sandrine-lilienfeld')
+brand(753, 93, "gosport.svg", "gosport-photo.png", 'Benoît Verdier', 'Directeur', 'benoit-verdier')
+brand(78, 290, "galeries.svg", "galeries-photo.png", 'Éric Damiron', 'Directeur', 'eric-damiron')
+brand(900, 690, "legal.png", "legal-photo.png", 'Pierre René Tchoukriel', 'Directeur', 'pierre-rene-tchoukriel')
+brand(1070, 530, "gap.svg", "gap-photo.png", 'Bérengère Hubner', 'Directeur', 'berengere-hubner')