include _defs

svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1300 1110" id="svg-orga")
    defs
        svg(id="brand-bg" viewBox="0 0 150 180")
            circle(class="panel" cx="75" cy="105" r="73")
        svg(id="plus" viewBox="0 0 24.2 24.2")
            path(style="fill:#38373f;stroke:#fff" d="M12.1,23.7C5.7,23.7,.5,18.5,.5,12.1S5.7,.5,12.1,.5s11.6,5.2,11.6,11.6-5.2,11.6-11.6,11.6Z")
            path(class="symbol" style="fill:#fff" d="M13.05,6.64v4.22h4.05v1.82h-4.05v4.26h-1.9v-4.26H7.11v-1.82h4.05V6.64h1.9Z")
        clipPath(id="round-pic")
            circle(cx="35" cy="35" r="35" fill="none")
    include _boss
    include _brands


